.Rproj.user
.Rhistory
.RData
inst/doc
vignettes/*_cache/
inst/prefielding-mockup/rsconnect
R/old/output
literature/
vignettes/example-intro.Rmd
vignettes/example-manuscript.Rmd
*~
*#
!.gitignore
!.Rbuildignore
