.Rproj.user
.Rhistory
.RData
inst/doc
vignettes/*_cache/
inst/prefielding-mockup/rsconnect
R/old/
R/output/
literature/
vignettes/example-intro.Rmd
vignettes/example-manuscript.Rmd
*~
*#
!.gitignore
!.Rbuildignore
R/inst/prefielding-mockup/global.R
*.#server.R
analysis/